*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .3rem;
    background-color:#2a9d8f ;
    height: 10vh;
    
}

.left, .right{
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.weather-container{
    background-color: #264653;
    height: 85vh;

}

.search-city{
    background-image: url(https://i.pinimg.com/originals/19/65/ab/1965ab7ef7de87fe748b3c66efbfc73a.jpg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    padding: 5px;
    text-indent: 30px;
    border-radius: 5px;
    border: none; 
    box-shadow: 2px 2px 5px black;
}

.weather-container{

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.3rem;


}

.weather-report{
    display: flex;
}

.main-info{
    display: flex;
    flex-direction: column;
    padding: 12px;
    color: #e76f51;
}

.city{
    font-size: 3rem;
    
}

.extra-info{
    display: flex;
    flex-direction: column;
    /* border-left: 0.2rem solid black; */
    padding: 12px;
    justify-content: center;
    color: #e9c46a;
    gap: 4px;
}

.active{
    border-left: 0.2rem solid black;
}
footer{
    height: 5vh;
background-color: #2a9d8f;
display: flex;
align-items: center;
justify-content: center;
gap: 4px;
}

footer a{
    display: flex;
    text-decoration: none;
    color: black ;
    align-items: center;
    gap: 4px;
}

a:hover{
    transition: 0.5s ease;
    color: #f4a261;
}
footer img:hover {
    width: 30px;
    height: 30px;
    -webkit-animation:spin .5s linear ;
    -moz-animation:spin .5s linear ;
    animation:spin .5s linear ;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

/* toggle */




input[type="checkbox"] {
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    appearance: none;
    /* background: red; */
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
  }
  
  input[type="checkbox"]:checked::before {
    transform: translateX(100%);
    background: #fff;
  }
  
  input[type="checkbox"]:checked {
background: #2a9d8f;

  }
  
  /* responsive */
  @media screen and (max-width: 620px) {
    body{
        display: flex;
        flex-direction: column;
    }

    .weather-container{
        flex-direction: column;
        height: 75vh;
        justify-content: space-evenly;
    }

    .gif{
        max-width: 75vw;
    }

    nav h1 {
        display: none;
    }

    .city{
        font-size: 1.5rem;
    }

    footer{
        min-height: 12.5vh;
    }

    nav{
        min-height: 12.5vh;
    }
    nav img{
        max-height: 32px;
    }
  }

    /* Media Query for low resolution  Tablets, Ipads */
    @media (min-width: 481px) and (max-width: 767px) {
        .weather-container {
            flex-direction: column;
            /* background-color: #e9c46a; */
        }

        .weather-container img {
            max-height: 50vh;
        }
    }

    @media (min-width: 768px) and (max-width: 1024px){
        .weather-container {
            max-height: 70vh;
        }

        footer{
            min-height: 10vh;
        }
    }